@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vazirmatn&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.navbar, .navbar ul{
    width: 100%;
    height: 60px;
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul{
    justify-content: space-evenly;
}

.navbar ul li{
    font-weight: 800;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.navbar ul li:hover{
    border-bottom: 1px solid white;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    padding: 15px;
}